<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>project2-login-cart-example</display-name>
    <!-- The landing page is set to index.html. But if users are not logged in, they will still be redirected to login.html -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

<!--    <security-constraint>-->
<!--        <web-resource-collection>-->
<!--            <web-resource-name>HTTPSOnly</web-resource-name>-->
<!--            <url-pattern>/*</url-pattern>-->
<!--        </web-resource-collection>-->
<!--        <user-data-constraint>-->
<!--            <transport-guarantee>CONFIDENTIAL</transport-guarantee>-->
<!--        </user-data-constraint>-->
<!--    </security-constraint>-->
</web-app>